<div class="d-flex flex-row w-100 vh-100 bg-black">
  <div class="w-30 bg-black curtain-right">
    <%= image_tag 'red-dresseur', class: 'img-sizing' %>
  </div>
  <div class="w-40 bg-black d-flex flex-column">
    <div class="d-flex flex-column h-60 d-inline-block bg-black align-items-center justify-content-center">
      <div class= "title-top"><%= image_tag 'title-top' %></div>
      <div><%= image_tag 'background-idée6', size: 200, class: "rounded-circle" %></div>
      <div class= "title-bot"><%= image_tag 'bot-title' %></div>
    </div>
    <div class= "h-40 bg-black curtain-bot">
    <%= image_tag 'background_idée1', class: 'img-sizing' %>
    <div class="bg-black"></div>
    </div>
  </div>
  <div class="w-30 curtain-left">
    <%= image_tag 'dresseuse-pokemon3', class: 'img-sizing' %>
  </div>
</div>

<%= render partial: 'shared/pokemon_card', locals: {pokemon: Pokemon.last} %>
