<%# <div class="">
  <%= image_tag 'pokemaker_logo.gif' %>
<%# </div> %>

<%# <%= render 'shared/pokemon_card' %>

<%# <%= link_to "Pokemaker", pokemons_new_path %>
<%# <%= link_to "Pokedex", pokemons_index_path %>
<div class="position-relative" data-controller="home">
  <div class="d-flex flex-row w-100 vh-100 bg-black position-absolute top-0 start-0" style="z-index: 10;" data-action="click->home#reveal">
    <div class="w-30 bg-black curtain-right">
      <%= image_tag 'red_dresseur.png', class: 'img-sizing' %>
    </div>
    <div class="w-40 bg-black d-flex flex-column">
      <div class="d-flex flex-column h-60 d-inline-block bg-black align-items-center justify-content-center">
        <div class= "title-top"><%= image_tag 'title-top.png' %></div>
        <div><%= image_tag 'background-idée6.jpg', size: 200, class: "rounded-circle" %></div>
        <div class= "title-bot"><%= image_tag 'bot-title.png' %></div>
      </div>
      <div class= "h-40 bg-black curtain-bot">
      <%= image_tag 'background_idée1.jpg', class: 'img-sizing' %>
      <div class="bg-black"></div>
      </div>
    </div>
    <div class="w-30 curtain-left">
      <%= image_tag 'dresseuse-pokemon3.png', class: 'img-sizing' %>
    </div>
  </div>
  <%#= render 'shared/pokemon_card' %>

  <div data-controller="home-map" id="home-map" class="position-absolute top-0 start-0 map-background" style="z-index: 9;">
    <%# <div class="vw-100 vh-100 map-background"> %>
    <div id="pokelab" data-home-map-target="item" data-url="/pokemons/new" data-intersected="false"></div>
    <div id="pokedex" data-home-map-target="item" data-url="/pokemons/new" data-intersected="false"></div>
     <div id="home-profil" data-home-map-target="item" data-url="/pokemons/new" data-intersected="false"></div>
    <%# </div> %>
    <div class="player player-back" data-home-map-target="player"></div>
  </div>
</div>
