<div class="screen">
  <div class="profile d-none">
    <div class="trainer">
      <%= image_tag 'vegeta.png', :class => "avatar-custom" %>
      <h3>Vegeta</h3>
    </div>
    <div class="stats">
      <h3>Pokemons created:</h3>
      <h3>Total likes:</h3>
      <h3>Average likes/Pokemon:</h3>
    </div>
    <div class="main_pokemon">
      <h3>Most liked Pokemon:</h3>
      <%= render "shared/pokemon_bubble" %>
      <%# badge with likes (in abs) %>
    </div>
  </div>
  <div class="chat">
    <%= render "pokemons/chat" %>
  </div>
  <div class="pokemon_cards d-none">
    <% current_user.pokemons.first(6).each do |pokemon| %>
      <%= render "shared/pokemon_bubble" %>
    <% end %>
  </div>
  <div class="profile-card d-none">
    <%= render 'shared/pokemon_card', pokemon: Pokemon.last, shine: false %>
  </div>
</div>
