<div class="home-profile" data-controller="card profile">
  <div class="flip" data-profile-target="flip">
    <div class="flip-wrapper">
      <div class="profile-container flip-side is-active" data-profile-target="profile">
        <div class="decoration-buttons">
          <div class="decoration-button decoration-button-red"></div>
          <div class="decoration-button decoration-button-green"></div>
          <div class="decoration-button decoration-button-blue"></div>
        </div>
        <div class="profile-box">
          <div class="player-info">
            <img class="avatar-profile" src=" ">
            <h1 class="title-name"><%= current_user.nickname %></h1>
          </div>
          <%= image_tag 'pikagif.gif', class: "gif-profile" %>
        </div>

        <div class="profile-description">
          <% total_votes = current_user.pokemons.reduce(0) { |sum, pokemon| sum + pokemon.votes.count } %>
          <h1 class="text-describe">Pokemon Created: <%= current_user.pokemons.count %></h1>
          <h1 class="text-describe">Total Votes: <%= total_votes %></h1>
          <h1 class="text-describe">Average votes/Pokemons: <%= total_votes.zero? ? "N/A" : (total_votes.to_f / (current_user.pokemons.count)).round(2) %></h1>
        </div>
        <div class="footer-profile">
          <h1 class="footer-describe">Best Pokemon</h1>
          <div class="bottom-right-image"></div>
        </div>
        <div class="fav-pokemon-profile">
          <%= render "shared/pokemon_bubble", pokemon: @pokemons.left_joins(:votes).group(:id).order('COUNT(votes.id) DESC').limit(10).first %>
        </div>
        <%= link_to root_path do %>
          <div class="return-profile">
            <i id="icon" class="fa-solid fa-backward" style="color: #080808;"></i>
          </div>
        <% end %>
      </div>
      <%= render "pokemons/chat", pokemon: Pokemon.last %>
    </div>
  </div>
  <div class="list-profile" data-card-target="location" data-profile-target="index">
    <%= render "pokemons/six_pokemons", pokemons: @pokemons %>
  </div>
</div>
