
<div class= "home-profile">
  <div class="profile-container">
      <div class="decoration-buttons">
        <div class="decoration-button decoration-button-red"></div>
        <div class="decoration-button decoration-button-green"></div>
        <div class="decoration-button decoration-button-blue"></div>
    </div>
    <img class="avatar-profile" src=" ">
    <div class="profile-box">
      <h1 class= "title-name">Ash the trainer</h1>
    </div>
    <%= image_tag 'pikagif.gif', class: "gif-profile" %>
    <div class="line-style-2">
      <p class= "line-2"><strong>----------------------------------------------------------
      -------------------------------------------------------------</strong></p>
    </div>
    <div class="profile-description">
      <h1 class="text-describe">Pokemon Created: 180</h1>
      <h1 class="text-describe">Total Votes: 0</h1>
      <h1 class="text-describe">Average votes/Pokemons: 0</h1>
    </div>
    <div class="line-style-3">
      <p class= "line-1"><strong>----------------------------------------------------------
      -------------------------------------------------------------</strong></p>
    </div>
    <div class="footer-profile">
      <h1 class="footer-describe">Best Pokemon:</h1>
    </div>
    <div class="bottom-right-image"></div>
    <div class="fav-pokemon-profile">
      <% @pokemons.each_with_index do |pokemon, index| %>
        <% break if index >= 1 %>
        <%= render "shared/pokemon_bubble" %>
      <% end %>
    </div>
    <%= link_to root_path do %>
      <div class="return-profile">
        <i class="fa-solid fa-backward" id="icon"style="color: #080808;"></i>
      </div>
    <% end %>
  </div>
  <%= render "pokemons/chat", pokemon: Pokemon.last %>
  <div class="list-profile d-none">
    <% @pokemons.each_with_index do |pokemon, index| %>
      <% break if index >= 8 %>
      <%= render "shared/pokemon_bubble" %>
    <% end %>
  </div>
  <div class="profile-card d-none">
    <%= render 'shared/pokemon_card', pokemon: Pokemon.last, shine: false %>
  </div>
</div>
