  <div class="form-container">
    <%= f.input :step, label: false, input_html: { value: f.object.current_step, class: "d-none" } %>
    <%= f.input :task_id, label: false, input_html: { class: "d-none" } %>
    <%= f.input :name, label: false, placeholder: "Enter a name", input_html: { class: "#{'d-none' if f.object.current_step != "name"}" } %>

    <%= f.association :types, checked: params.dig(:pokemon, :type_ids), wrapper_html: { class: "#{'d-none' if f.object.current_step != "types"}", "data-pokemon-target": "types" }, input_html: { data: {action: "change->pokemon#checkboxlimit"} }, as: :check_boxes %>

    <%= f.input :prompt, label: false, input_html: { class: "#{'d-none' if f.object.current_step != "prompt"}" } %>

    <%= f.association :attacks, label: "Test", selected: params.dig(:pokemon, :attack_ids), wrapper_html: { class: "#{'d-none' if f.object.current_step != "attacks"}" } %>
    <%= f.association :attacks, label: false, selected: params.dig(:pokemon, :attack_ids), wrapper_html: { class: "#{'d-none' if f.object.current_step != "attacks"}" } %>
    <%= f.association :attacks, label: false, selected: params.dig(:pokemon, :attack_ids), wrapper_html: { class: "#{'d-none' if f.object.current_step != "attacks"}" } %>

    <%= f.input :bio, label: false, input_html: { class: "#{'d-none' if f.object.current_step != "bio"}" } %>

    <%= f.submit "Next step", class: "btn btn-primary" %>
  </div>
  <div class="dialog-container">
    <div class=<%="#{'d-none' if f.object.current_step != "name"}"%>>
      <p>Hello and welcome to my lab!</p>
      <p>I hear you want to create a new Pokemon. What would you like to call it?</p>
    </div>
    <div class=<%="#{'d-none' if f.object.current_step != "types"}"%>>
      <p>Very well! Your Pokemon will be called <%= f.object.name %></p>
      <p>Pick up to two types for your Pokemon</p>
    </div>
    <div class=<%="#{'d-none' if f.object.current_step != "prompt"}"%>>
      <p>Understood</p>
      <p>Can you tell me what your Pokemon looks like?</p>
    </div>
    <div class=<%="#{'d-none' if f.object.current_step != "attacks"}"%>>
      <p>Time to choose some attacks for your Pokemon!</p>
      <p>Pick three attacks for <%= f.object.name %></p>
    </div>
    <div class=<%="#{'d-none' if f.object.current_step != "bio"}"%>>
      <p>One last thing!</p>
      <p>write a short bio for <%= f.object.name %>: where do they live, what is their personality like...</p>
    </div>
  </div>
