<div class="card_pokemon" data-controller="shiny">
  <div class="card__wrapper">
    <div class="card__3d">
      <div class="card__image p-2">
        <div class="bg-secondary h-100">
          <p><%= pokemon.name %></p>
          <%= cl_image_tag pokemon.photo.key, transformation: [
            {height: 1024, width: 1024, crop: :crop, x: 0, y:0},
            {height: 200, width: 300, crop: :fill}] %>
          <p><%= pokemon.bio %></p>
          <p><%= pokemon.attacks.first.name %></p>
          <p><%= pokemon.attacks.second.name %></p>
          <p><%= pokemon.attacks.last.name %></p>
        </div>
      </div>
      <div class="card__layer1"></div>
      <div class="card__layer2"></div>
    </div>
  </div>
</div>
